label:
  input(type=checkbox, checked)
  
:i18n!"user.intro" \
  p#id1.cl1.cl2:(title=${test.v1}) #id2(title=3) \
	[user_name2] a#user_intro2(href=/user/${user.id2}) \
	[message_number=${user.msgs}] span.red1